extends layout

block content
    div(id="wind")
      .flex
        .box
          div
            div.form-group
              label(for="desiredWind") Wind:
              input(name="desiredWind" v-model="desiredWind")
            div.form-group
              label(for="location") Location:
              input(name="location" v-model="location")
            div.form-group
              label(for="timeOfDay") Only show weather between 8am - 8pm:
              input(type="checkbox" name="timeOfDay" v-model="timeOfDay")
            button.button(v-on:click="getWeather") Click
      .flexcolumn(v-show="show")
        .box
          h2 72 Hour Weather
          div(class="hourly")
            div(v-for="hourly in theWeather" class="speed" v-bind:style="groupDays(showNiceTime(hourly.time))")
              i(v-bind:class="transformClass", v-bind:style="transformStyle(hourly.windBearing,convertToMph(hourly.windSpeed))")  
              p {{ convertToMph(hourly.windSpeed) }} mph
              p {{ showNiceTime(hourly.time) }}

